
.footer-led {
    position: absolute;
    margin-left: -10rem;
    margin-top: 30px;
    padding-top: 10px;
    height: .1px;
    width: 100%;
    background-color: var(--bs-primary-bold);
    animation: neon-white-border 2s ease-in-out infinite alternate;
}

@media (max-width: 1199px) {
    .footer-led {
        margin-left: 0;
    }
}

@keyframes neon-white-border {
    from {
        box-shadow: 0 0 5px var(--bs-neon-1),
            0 0 10px var(--bs-neon-1),
            0 0 15px var(--bs-neon-1),
            0 0 20px var(--bs-neon-2),
            0 0 35px var(--bs-neon-2),
            0 0 40px var(--bs-neon-3),
            0 0 50px var(--bs-neon-3),
            0 0 75px var(--bs-neon-3);
    }

    to {
        box-shadow: 0 0 2px var(--bs-neon-1),
            0 0 5px var(--bs-neon-1),
            0 0 8px var(--bs-neon-1),
            0 0 10px var(--bs-neon-2),
            0 0 15px var(--bs-neon-2),
            0 0 20px var(--bs-neon-2),
            0 0 25px var(--bs-neon-2),
            0 0 30px var(--bs-neon-2);
    }
}