#logo-header {
    width: 42px;
}

@media (max-width: 992px) {
    #logo-header {
        width: 28px;
    }
}

/* nav {
    box-shadow: 0 12px 12px var(--bs-shadow-header);
} */

.nav-link {
    color: var(--bs-light-50);
}

.nav-link:hover {
    color: var(--bs-light-80);
}

.nav-link.on {
    color: var(--bs-light);
}

@media (min-width :1199px) {
    #group-btn-header {
        position: absolute;
        right: 0;
        margin-right: 0.5rem;
    }
}