/* 
    version     : 1.1
    last update : 21:30:00.27-10-2025
    author      : @subway90
 */

.carousel-inner img{
    height: 440px;
    opacity: 0.8;
    transition: calc(0.5s);
}

.carousel-inner img:hover{
    opacity: 1;
    transition: calc(0.3s);
}

.carousel-indicators button {
    background-color: var(--bs-light) !important;
    border: 1px solid var(--bs-light) !important;
    box-shadow: 0 0 2px var(--bs-light) !important;
    border-radius: 6px !important;
    height: 4px !important;
    width: 12px !important;
}

.box-introduce-title {
    font-size: 46px;
    font-weight: 700;
    color : var(--bs-light-80);
    text-shadow: -2px -2px 8px var(--bs-shadow-box-light), 2px 2px 8px var(--bs-shadow-box-dark);
}

.box-introduce-desc {
    color : var(--bs-light-80);
}

.box-introduce {
    height: 400px;
    position: relative;
    overflow: hidden;
}

.box-social {
    display: flex;
    padding-right: 50px;
    transform: rotate(10deg);
    position: relative;
}

.card-social {
    width: 200px;
    text-decoration: none;
    background-color: var(--bs-primary-bold);
    color: var(--bs-light-50);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 12px 24px;
    margin-left: -50px;
    transform: rotate(35deg) skew(-30deg) translate(0,0);
    box-shadow: 4px 2px 2px var(--bs-shadow-box-dark);
    border: 1px solid var(--bs-primary);
    transition: 0.3s linear;
}

.card-social span {
    text-wrap: nowrap;
    font-size: 14px;
}

.card-social:hover {
    color: var(--bs-light-80);
    box-shadow: 24px 12px 10px var(--bs-shadow-box-dark);
    transform: scale(1.07) rotate(35deg) skew(330deg) translate(-36px,-8px);
    z-index: 2000 !important;
    transition: 0.3s linear;
}

@media (max-width:796px) {
    .box-introduce {
        height: 50vh;
        padding-bottom: 50px;
    }
    .box-social {
        transform: rotate(0);
        padding: 0;
        padding-left: 5vh;
        z-index: -1;
    }
    .card-social {
        padding: 6px 12px;
        font-size: 8px;
        margin-left: -40px;
    }
    .card-social span {
        font-size: 9px;
    }
}