.carousel-inner img{
    height: 440px;
    opacity: 0.8;
    transition: calc(0.5s);
}

.carousel-inner img:hover{
    opacity: 1;
    transition: calc(0.3s);
}

.carousel-indicators button {
    background-color: var(--bs-light) !important;
    border: 1px solid var(--bs-light) !important;
    box-shadow: 0 0 2px var(--bs-light) !important;
    border-radius: 6px !important;
    height: 4px !important;
    width: 12px !important;
}

.box-introduce-title {
    font-size: 46px;
    font-weight: 700;
    color : var(--bs-light-80);
    text-shadow: -2px -2px 8px var(--bs-shadow-box-light), 2px 2px 8px var(--bs-shadow-box-dark);
}

.box-introduce-desc {
    color : var(--bs-light-80);
}

.box-introduce {
    height: 400px;
    position: relative;
    overflow: hidden;
}
.robot-3d {
    height: 2000px;
    z-index: 999;
    scale: 0.6;
    right: -20%;
    position: absolute;
}

@media (max-width:796px) {
    .box-introduce {
        height: 50vh;
    }
    .robot-3d {
        top: -18vh;
        right: -46.5vh;
        height: 70vh;
        width: 140vh;
        scale: 0.46;
    }
}