:root {
    --bs-light-50 : #ffffff50;
}

body {
    min-width: 100vh;
    background-color: rgb(7, 10, 38);
}
.text-blue {
    color: rgb(7, 10, 38);
}
.bg-blue {
    background-color: rgb(7, 10, 38);
}

.g-h1 {
    background: linear-gradient(90deg, #00ffff, #ff00c3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile:hover {
    transition: calc(0.7s);
    filter: drop-shadow(1px 7px 20px #ffffff);
}

::-webkit-scrollbar {
    width: 8px;
    /* background: rgb(255, 0, 0); */
}
::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.shadow-light {
    box-shadow: 0 0 1px 2px var(--bs-light-50);
}